.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**

node_modules/**/test/**
**/.travis.yml
**/README.md
**/travis_build.sh
**/LICENSE.md
docs
diagrams
LibServiceApp

client/testFixture
client/examples
client/tests
client/webpack.config.js
client/src/test



server/test


