.App {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100vw;
  margin-top: 20px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding: 0 13px;
}