.container1 {
	width: 50vw;
	margin: 0 auto;
	border: 1px #696969 solid;
	border-radius: 6px;
	padding: 4px 20px;
	align-items: center;
}

.option{
	flex-direction: row;
	align-items: center;
	display: flex;

}

.addIcon{
	margin: 0 5px;
	cursor: pointer;
}