.selectedText {
  font-weight: bold;
  color: #b89090;
}

.clickable:hover {
  cursor: pointer;
}

.text {
  padding-bottom: 10px;

}

.showIconOnHoverWrapper,
.showIconWrapper {
  display: flex;
  justify-content: left;
  align-items: start;
}

.showIconWrapper .icon {
  display: block;
}

.showIconOnHoverWrapper .icon {
  display: none;
}

.showIconOnHoverWrapper:hover .icon {
  display: block;
}

.bold{
  font-weight: bolder;
}
